body {
    width: 100%;
    overflow-x: hidden;
}

#start {
    width: 100%;
    height: 100vh;
    background: url('./photos/backgrounds/welcome.png') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.margin-2 {
    margin-top: 2%;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about {
    height: 100vh;
    background-color: #52a2ff;
    color: white;
}

#about-content {
    height: 100vh;
    width: 100vw;
}

#about-text-container {
    height: 70vh;
    width: 70vw;
}

#about-text-description {
    padding-top: 2%;
}

#contact {
    padding-top: 5%;
}

.contact-element {
    padding-bottom: 5%;
}

#projects {
    height: 100vh;
    color: white;
}

.projects-border {
    border-radius: 50px;
}

#projects-element {
    /* background-color: #5271FF; */
    background-color: #52a2ff;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#projects-nav {
    height: 100vh;
    width: 20vw;
    background-color: #52a2ff;
}

#projects-content {
   width: 80vw;
   background-color: #5271FF;
   border-top-left-radius: 50px;
}

.projects-nav-item {
    height: 10vh;
    width: 100%;
    background-color: #38b6ff;
    position: relative;
    top: 9%;
    margin-top: 15%;
}

.project-name-text {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
}

#project-description {
    padding-top: 3%;
    height: 45vh;
}

#project-technologies {
    height: 10vh;
}

.pill-background {
    background-color: #52a2ff;
    margin-right: 0.75%;
}

#project-gallery {
    height: 25vh;
    width: 100%;
}

#project-gallery img { 
    max-width: 40vw;
    max-height: 22.6vh;
}

#project-links {
    height: 15vh;
    padding-top: 5%;
}

#navigation-bar {
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}

#logo {
    font-size: x-large;
}

.navbar-link {
    font-size: large;
    color: white;
}

#home-welcome-text {
    padding-top: 5%;
    margin-left: 10%;
    color: white;
}